.contentEditable {
  height: 300px;
  padding: 0 8px;
  border: 1px solid black;
}

.tools-editor-h1 {
  text-align: center;
  font-size: 10pt;
  font-family: Arial;
  font-weight: bold;
}

.tools-editor-h2 {
  text-align: center;
  font-size: 10pt;
  font-family: Arial;
  font-weight: bold;
}

.tools-editor-endOfSection {
  text-align: center;
  font-size: 10pt;
  font-family: Arial;
  font-weight: bold;
  text-transform: uppercase;
}

/* part heading */

.tools-editor-partHeading {
  font-family: Arial;
  text-align: justify;
  font-size: 10pt;
  /* text-transform: uppercase; */
  counter-reset: section;
}

.tools-editor-partHeading li {
  counter-increment: section;
  list-style-type: none;
}

.tools-editor-partHeading li::before {
  content: "PART " counter(section) " - ";
  margin-right: 0.5em;
}

/* section heading */

.tools-editor-sectionHeading {
  text-align: justify;
  font-size: 10pt;
  font-family: Arial;
  /* text-transform: uppercase; */
  counter-reset: section;
}

.tools-editor-sectionHeading li {
  counter-increment: section;
  list-style-type: none;
}

.tools-editor-sectionHeading li::before {
  content: "1." counter(section);
  margin-right: 0.5em;
}

/* subsection heading */

.tools-editor-subsection {
  text-align: left;
  font-size: 10pt;
  font-family: Arial;
  counter-reset: section;
}

.tools-editor-subsection li {
  counter-increment: section;
  list-style-type: none;
}

.tools-editor-subsection li::before {
  content: counter(section, upper-alpha) ".";
  margin-right: 0.5em;
}

/* subsection list */

.tools-editor-subsectionList {
  text-align: left;
  font-size: 10pt;
  font-family: Arial;
  margin-right: 0.5em;
}

/* subsection list details */

.tools-editor-subsectionListDetails {
  text-align: left;
  font-size: 10pt;
  font-family: Arial;
  counter-reset: section;
}

.tools-editor-subsectionListDetails li {
  list-style-type: none; /* Remove default list style */
  counter-increment: section;
}

.tools-editor-subsectionListDetails li::before {
  content: counter(section, lower-alpha) ".";
  margin-right: 0.5em;
}

/* subsubsection list details */

.tools-editor-subSubsectionListDetails {
  text-align: left;
  font-size: 10pt;
  font-family: Arial;
  counter-reset: section;
}

.tools-editor-subSubsectionListDetails li {
  list-style-type: none; /* Remove default list style */
  counter-increment: section;
}

.tools-editor-subSubsectionListDetails li::before {
  content: counter(section) ")";
  margin-right: 0.5em;
}
