.contentEditable {
  height: 300px;
  padding: 0 8px;
  border: 1px solid black;
}

.tools-editor-h1 {
  text-align: center;
  font-size: 10pt;
  font-family: Arial;
  font-weight: bold;
}

.tools-editor-h2 {
  text-align: center;
  font-size: 10pt;
  font-family: Arial;
  font-weight: bold;
}

.tools-editor-endOfSection {
  text-align: center;
  font-size: 10pt;
  font-family: Arial;
  font-weight: bold;
  text-transform: uppercase;
}

/* part heading */

.tools-editor-partHeading {
  font-family: Arial;
  text-align: justify;
  font-size: 10pt;
  text-transform: uppercase;
  counter-reset: section;
}

.tools-editor-partHeading li {
  counter-increment: section;
}

.tools-editor-partHeading li::marker {
  content: "";
}

.tools-editor-partHeading li::before {
  content: "PART " counter(section) " - ";
  margin-right: 0.5em;
}

/**/

.tools-editor-ol {
  counter-reset: section;
  text-align: justify;
  font-size: 10pt;
  font-family: Arial;
  text-transform: uppercase;
}

.tools-editor-ol li {
  counter-increment: section;
}

.tools-editor-ol li::marker {
  content: "";
}

.tools-editor-ol li::before {
  content: "PART " counter(section) " - ";
  margin-right: 0.5em;
}

/* section heading */

.tools-editor-section-heading {
  counter-reset: counter;
  text-align: justify;
  font-size: 10pt;
  font-family: Arial;
  text-transform: uppercase;
}

.tools-editor-section-heading li {
  counter-increment: counter;
}

.tools-editor-section-heading li::marker {
  content: "";
}

.tools-editor-section-heading li::before {
  content: "1." counter(counter);
  margin-right: 0.5em;
}

/* matching style from docs */

.tools-editor-sectionheading {
  text-align: justify;
  font-size: 10pt;
  font-family: Arial;
  text-transform: uppercase;
}

.tools-editor-subsection {
  text-align: left;
  font-size: 10pt;
  font-family: Arial;
}

.tools-editor-subsectionlist {
  text-align: left;
  font-size: 10pt;
  font-family: Arial;
}

.tools-editor-subsectionlistdetails {
  text-align: left;
  font-size: 10pt;
  font-family: Arial;
}

.tools-editor-subsubsectionlistdetails {
  text-align: left;
  font-size: 10pt;
  font-family: Arial;
}
