/* .lexicalComposer {
} */

.contentEditable {
  height: 300px;
  padding: 0 8px;
  border: 1px solid black;
}

.placeholder {
  position: absolute;
  top: 56px;
  padding-left: 8px;
}

.tools-editor-h1 {
  text-align: center;
  font-size: 10pt;
  font-family: Arial;
  font-weight: bold;
}

.tools-editor-h2 {
  text-align: center;
  font-size: 10pt;
  font-family: Arial;
  font-weight: bold;
}

.tools-editor-endOfSection {
  text-align: center;
  font-size: 10pt;
  font-family: Arial;
  font-weight: bold;
  text-transform: uppercase;
}

.tools-editor-ol {
  counter-reset: section;
  text-align: justify;
  font-size: 10pt;
  font-family: Arial;
  text-transform: uppercase;
}

.tools-editor-ol li {
  counter-increment: section;
}

.tools-editor-ol li::marker {
  content: "";
}

.tools-editor-ol li::before {
  content: "PART " counter(section) " - ";
  margin-right: 0.5em;
}

/* matching style from docs */

.tools-editor-title {
  text-align: center;
  font-size: 10pt;
  font-family: Arial;
  font-weight: bold;
}

.tools-editor-subtitle {
  text-align: center;
  font-size: 10pt;
  font-family: Arial;
  font-weight: bold;
}

.tools-editor-partheading {
  text-align: justify;
  font-size: 10pt;
  font-family: Arial;
  text-transform: uppercase;
}

.tools-editor-sectionheading {
  text-align: justify;
  font-size: 10pt;
  font-family: Arial;
  text-transform: uppercase;
}

.tools-editor-subsection {
  text-align: left;
  font-size: 10pt;
  font-family: Arial;
}

.tools-editor-subsectionlist {
  text-align: left;
  font-size: 10pt;
  font-family: Arial;
}

.tools-editor-subsectionlistdetails {
  text-align: left;
  font-size: 10pt;
  font-family: Arial;
}

.tools-editor-subsubsectionlistdetails {
  text-align: left;
  font-size: 10pt;
  font-family: Arial;
}

.tools-editor-endofsection {
  text-align: center;
  font-size: 10pt;
  font-family: Arial;
  font-weight: bold;
  text-transform: uppercase;
}

/* end */

.tools-editor-bold {
  color: purple;
}

.tools-editor-banner {
  background-color: burlywood;
  margin: 8px 0;
  padding: 0 4px;
}
